    body {
        margin: 0 auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0;
    }
    
    header h1,
    header p {
        text-align: center;
    }
    
    main {
        margin: 0 auto;
        max-width: 720px;
    }
    /*
----- MEDIA QUERYS CSS -----
CSS Nav - Main (más de 720px)
*/
    
    @media (min-width: 720px) {
        .nav-as {
            position: fixed;
            margin: 0;
            padding: 0;
            min-width: 290px;
            width: 300px;
            height: 100%;
            overflow-y: auto;
            overflow-x: 20%;
        }
        header {
            background-color: blanchedalmond;
            height: 150px;
            margin: 0 auto;
            margin-left: 310px;
        }
        .div-header {
            padding: 0;
            margin: 0 auto;
        }
        .main-as {
            position: absolute;
            margin-left: 310px;
            padding: 20px;
        }
    }
    /*
----- MEDIA QUERYS CSS -----
CSS Nav - Main (menos de 720px)
*/
    
    @media (max-width: 720px) {
        .nav-as,
        .nav-as ul,
        .nav-as li,
        .nav-as a {
            display: none;
        }
        header {
            background-color: blanchedalmond;
            height: 150px;
            margin: 0 auto;
        }
        .div-header {
            padding: 0;
            margin: 0 auto;
        }
        .main-as {
            margin: 0 auto;
            max-width: 720px;
            padding: 20px;
        }
    }
    /* CSS Cajas de información de Incidentes */
    
    .span-nota-incidentes {
        font-style: italic;
        font-size: small;
        color: #2f2f2f;
        margin: 16px 0;
        display: block;
    }
    
    .div-preguntas-incidentes {
        max-width: 600px;
        padding: 10px 15px;
        margin: 0 auto;
        font-size: 0.8rem;
        font-style: oblique;
        border-radius: 10px;
        color: #2f2f2f;
        background-color: #7bdcb5;
    }
    
    .div-preguntas-incidentes p {
        font-weight: bold;
    }